.menu-buttons {
    position: fixed;

    left: 20px;
    top: 50%;

    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 20px;
}


.seeAll-button, .add-button, .connect-button, .delete-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: tomofont, sans-serif;
    font-size: 16px;
    gap: 8px;
}

.seeAll-button {
    background-color: #fe0000;
}

.add-button {
    background-color: rgb(255, 183, 0);
}

.connect-button {
    background-color: #06acdc;
}

.delete-button {
    background-color: #db281c;
}

.seeAll-button span,
.add-button span,
.connect-button span,
.delete-button span {
    margin: 0;
    padding: 4px 0 0 0;
}

.seeAll-button:hover,.add-button:hover, .connect-button:hover, .delete-button:hover {
    cursor: pointer;
    background-color: rgb(255, 234, 0);
}

.seeAll-button svg, .add-button svg, .connect-button svg, .delete-button svg {
    color: white;
    padding: 0;
    margin: 0;
}

.seeAll-content, .add-content, .connect-content, .delete-content {
    position: fixed;

    left: 20px;
    top: 55%;

    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 30vw;
    height: 65vh;
}

.seeAll-content.seeAll {
    background-color: #ff7373;
}

.add-content.add {
    background-color:rgb(255, 209, 93);
}

.connect-content.connect {
    background-color: #06acdc;
}

.delete-content.delete {
    background-color: #db281c;
}

.seeAll-content .close-button {
    margin-top: auto;
    font-family: tomofont, sans-serif;
    font-size: 16px;
    background-color: #fe0000;
    margin-bottom: 20px;
}

.seeAll-content .close-button:hover, .add-content .close-button:hover, .add-content .add-button:hover {
    cursor: pointer;
    background-color: rgb(255, 234, 0);
}

.add-content .close-button, .add-content .add-button {
    margin-top: auto;
    font-family: tomofont, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 183, 0);
    margin-bottom: 20px;
}

.mii-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    overflow-y: auto;
}

.mii-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.mii-card svg {
    font-size: 60px;
    padding: 10px;
}

.icon-background {
    border-radius: 50%;
}

.mii-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow-y: auto;
}

.add-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

#mii-name {
    padding: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.add-color {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.color-choice {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.color-choice:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.color-choice.selected {
    background-color: rgb(255, 234, 0);
    border: 3px solid rgb(255, 183, 0);
}

.color-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.add-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.icon-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.icon-choice svg {
    width: 60px;
    height: 60px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-choice:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon-choice.selected {
    background-color: rgb(255, 234, 0);
    border-radius: 50%;
    border: 3px solid rgb(255, 183, 0);
}

.button-menu {
    display: flex;
    gap: 10px;
    padding: 10px;
}